body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d56bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.login-container {
    background-color: #ffff529b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.login-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.link{
    margin-top: 10px;
    font-size: 13px;
}
.login-container button{
    width: 100%;
    padding: 10px;
    background-color: #0d2a36;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #d56bff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.register-container {
    background-color: #ffff529b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
}
.register-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
}
.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.register-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0d2a36;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.register-container input[type="submit"]:hover {
    background-color: #0056b3;
}
.link {
    margin-top: 10px;
    font-size: 13px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
h1 {
    margin-top: 20px;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
table th {
    background-color: #f4f4f4;
}

